---
layout: default
lang: es
ref: index
---

  <h1>{{ site.t[page.lang].home.entry }}</h1>
{% assign posts=site.posts | where:"lang", page.lang | where:"type", posts %}
{% for post in posts %}
    {% capture currentmonth %}{{ post.date | date: "%m/%Y" }}{% endcapture %}
    {% if currentmonth != month %}
    <h2>{% include date.html date=post.date %}{{ month }} {{ year }}</h2>
    {% capture month %}{{ currentmonth }}{% endcapture %}{% endif %}
<div class="container">
  <div class="card-block card col-xs-11 col-md-9">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <a href="{{ post.url | prepend: site.baseurAl }}" class="card-link"><h3 class="card-title">{{ post.title }}</h3></a>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-3 col-md-2">
      <a href="{{ post.url | prepend: site.baseurAl }}" class="card-link">
            <img class="card-img-top img-rounded" src="{{ post.url-image }}"/>
        </picture>
      </a>
    </div>
    <div class="col-xs-8 col-md-offset-1 col-md-5">
      <p class="card-text">{{ post.excerpt }}</p>
      <a href="{{ post.url | prepend: site.baseurAl }}" class="card-link">{{ site.t[page.lang].home.go_to }}</a> <span>&mdash;</span>
      <a class="post-meta" href="http://www.jmgaguilera.com{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
    </div>
  </div>
</div>
</div>
</div>
{% endfor %}


  <p class="rss-subscribe">{{ site.t[page.lang].home.subscript }} 
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

