<header class="site-header">

  <div class="wrapper">

    <span style="margin-bottom:0;">
      <a class="site-title" href="{{ site.baseurl }}/{{ site.t[page.lang].home.url }}">{{ site.t[page.lang].title }}</a>
    </span>
    <span>
      <nav class="site-nav">

      <div class="trigger">
        {%  assign pages = site.pages | where:"lang", page.lang %}
        {% for page in pages %}
          {% if page.title %}
          <a class="page-link-claro" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}


      </div>
      
    </nav>
    </span>
  

  <span style="float:left; margin-bottom:0;"><em>{{ site.t[page.lang].subtitle }}</em></span>
  <span style="float:right; margin-bottom:0;">
          &mdash;{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
            <a class="page-link-claro" href="{{ post.url }}">{{ post.lang }}</a> &mdash;
        {% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
            <a class="page-link-claro" href="{{ page.url }}">{{ page.lang }}</a>  &mdash;
        {% endfor %}
   </span>
  </div>
  

</header>
