<!DOCTYPE html>
<html>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  {% include head.html %}


  <body class="fadein">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper"     style="margin-top:4cm;">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

    <script id="dsq-count-scr" src="//jmgaguilera.disqus.com/count.js" async></script>

</html>
